/* 푸터 */
.FooterContainer{
  margin-top: 5%;
}

#footer {
  background: white;
}

.name {
  font-family: Montserrat;
  color: #000000;
  font-size: 1.5rem;

  font-style: normal;
  font-weight: normal;
  line-height: 125%;

  text-align: center;
  letter-spacing: 0.3em;

  color: #000000;

  position: absolute;
  margin-left: 50%;
  margin-top: 4.2%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.lists {
  display: flex;
  width: 550px;
  height: 95px;
}

.lists li {
  margin-right: 20px;

  font-family: Montserrat;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 22px;

  display: flex;
  letter-spacing: -0.015em;

  transform: translate(-50%, -50%);

  margin-left: auto;
  margin-top: 13%;
  margin-right: 19%;
}

.lists a {
  color: black;
  text-decoration: none;
}

.email {
  margin-left: 1%;
  margin-top: 0%;
}

.line {
  margin-top: -15px;
  margin-bottom: 13px;
}