.form{
  margin-bottom: 30px;
}

.category_title{
  margin-left: 300px;
  font-family: Montserrat;
  font-size: 30px;
}

.more{
  font-family: Montserrat;
  font-size: 15px;
  float: right;
  margin-right: 300px;
}